body {

  background: #fdf8f8;
  min-height: 100vh;
  display: flex;
  color: rgb(2, 1, 0);
  justify-content: center;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.container {
  font-size: 20px;
  border-radius: 10px;
  width: 50%;
  padding: 50px;
  box-shadow: 0 54px 55px rgb(78 78 78 / 25%), 0 -12px 30px rgb(78 78 78 / 25%),
    0 4px 6px rgb(78 78 78 / 25%), 0 12px 13px rgb(78 78 78 / 25%),
    0 -3px 5px rgb(78 78 78 / 25%);
}

.container input {
  font-size: 1.2rem;
  margin: 10px 0 10px 0px;
  border-color: rgb(31, 28, 28);
  padding: 10px;
  border-radius: 5px;
  background-color: #e8f0fe;
}

.container textarea {
  margin: 10px 0 10px 0px;
  padding: 5px;
  border-color: rgb(31, 28, 28);
  border-radius: 5px;
  background-color: #e8f0fe;
  font-size: 20px;
}

.container h1 {
  text-align: center;
  font-weight: 800;
}

.name div {
  display: flex;
  flex-direction: column;
}

.block button {
  padding: 10px;
  font-size: 20px;
  width: 30%;
  border: 3px solid black;
  border-radius: 5px;
}

.button {
  display: flex;
  align-items: center;
}

textarea {
  resize: none;
}

header {
  background-color: #333;
  color: rgb(54, 138, 5);
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #111010;
}



.container h1 {
  margin-bottom:20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 35px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 20px;
  background-color: #f8f4f4;
  color: rgb(19, 1, 1);
  border: none;
  border-radius: 20px;

  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #555;
}

.social-login {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.social-login button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 48%;
  justify-content: center;
}

.social-login button:hover {
  background-color: #f5f5f5;
}
